PruebaConceptoWS/src/main/webapp/WEB-INF/holiday.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.marvelution.com/samples/definitions/HelloWorldService/"
	xmlns:schema="http://www.marvelution.com/samples/schemas/HelloWorldServiceSchema"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="HelloWorldService"
	targetNamespace="http://www.marvelution.com/samples/definitions/HelloWorldService/">

	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.marvelution.com/samples/definitions/HelloWorldService/Imports">
			<xsd:import
				namespace="http://www.marvelution.com/samples/schemas/HelloWorldServiceSchema"
				schemaLocation="hr.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="SayHiRequest">
		<wsdl:part element="schema:SayHi" name="parameters" />
	</wsdl:message>

	<wsdl:message name="SayHiResponse">
		<wsdl:part element="schema:SayHiResponse" name="parameters" />
	</wsdl:message>

	<wsdl:message name="SayHelloRequest">
		<wsdl:part element="schema:SayHello" name="parameters" />
	</wsdl:message>

	<wsdl:message name="SayHelloResponse">
		<wsdl:part element="schema:SayHelloResponse" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="HelloWorldServicePort">
		<wsdl:operation name="SayHi">
			<wsdl:input message="tns:SayHiRequest" />
			<wsdl:output message="tns:SayHiResponse" />
		</wsdl:operation>
		<wsdl:operation name="SayHello">
			<wsdl:input message="tns:SayHelloRequest" />
			<wsdl:output message="tns:SayHelloResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="HelloWorldServiceBinding" type="tns:HelloWorldServicePort">
		<wsaw:UsingAddressing wsdl:required="true" />
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SayHi">
			<soap:operation
				soapAction="http://www.marvelution.com/samples/definitions/HelloWorldService/SayHi" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SayHello">
			<soap:operation
				soapAction="http://www.marvelution.com/samples/definitions/HelloWorldService/SayHello" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="HelloWorldService">
		<wsdl:port binding="tns:HelloWorldServiceBinding" name="HelloWorldService">
			<soap:address location="/HelloWorldService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
